<div class = 'container-fluid'>
    <br>
    <div class="col d-flex justify-content-center">
        <h1>Test!</h1>
    </div>
    <br/>
    <br/>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="description">In this application after pressing start you will have as much time as you need
                to finish 10 questions. When you have checked the answer you want click the 
                submit button, make sure you are confident because you can not go back to a 
                previous question. When at the last question click finish and you will be given 
                a grade with info on which questions you got right and wrong. Don't worry we
                will let you know which ones you got wrong so you can get better!

            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-3 d-flex justify-content-center">
            <input class = 'btn btn-primary' type="button" value="Start" (click) = "startButton()">
        </div>
    </div>
</div>